/* * {
    border: 1px solid black;
} */

body {
  background-color: rgb(63, 61, 61);
  color: rgb(56, 56, 56);
  font-family: 'Spartan', sans-serif;
}



.works {
  background-color: rgb(206, 206, 206);
  padding: 40px 80px 40px 80px;
}
.contact {
  background-color: rgb(206, 206, 206);
  padding: 40px 80px 40px 80px;
}
.resume {
  background-color: rgb(232,235,170);
  color: rgb(56, 56, 56);
  padding: 40px 80px 40px 80px;
}

h2 {
  font-weight: 400;
  font-size: 50px;
}

h3 {
  margin: 30px 0px 50px 0px;
  text-align: center;
  color: black;
}

.link {
  display: inline;
}

p {
  font-size: 16px;
}

.nav-wrapper {
  background-color: rgb(32, 31, 31);
}

.introduction {
  background-color: rgba(241, 253, 17);
}

#img-div {
  padding: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: flex-start;
}

#white {
  color: white;
  background-color: rgb(92, 90, 90);
  margin-top: -25px;
}

@media screen and (max-width: 768px) {
  #profile {
    border-radius: 50%;
    margin: 20px 20px 20px 50px;
    width: 200px;
    margin: 20px;
  }

  #img-div {
    display: flex;
    justify-content: space-around;
  }

  .introduction {
    background-color: rgb(228, 228, 228);
  }

  h2 {
    font-size: 14px;
    margin: 14px 0px 14px 0px;
  }
}
