/* Main elements of the page: */
/* * {
    border: 1px solid white;
} */

body {
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=a3bf22e69a&attid=0.1&permmsgid=msg-a:r128961894482559190&th=17170b18bafbbcfa&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8XoQkpb0bavKJCwQXdMzvooORxCJ5pNCKX6qjA6PxVrJyl-s1H8Low_0BaPXnXh8C2lyYlIAxMYYYmsDMe8c0ii8myIRmHOiEVUyhe5N-Wq-tOu7igdt-kyfc&disp=emb&realattid=ii_k8xo7xfp0");
    background-size: cover;
    font-family: 'Spartan', sans-serif;
    color: black;
}
.content {
    position: relative;
    min-height: 100vh;
}
.container {
    padding-bottom: 30px;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color:  rgba(0,0,0,0.8) ;
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 8px;
}

footer p {
    margin: 0px;
}

.navbar-custom {
    background-color: rgba(241,253,17,0.8);
    padding: 0px 16px;
}

.nav-item a {
    font-weight: 400;
    color: black;
}

h1 { 
    padding-top: 20px;
    font-weight: 800;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-around;
}

.border {
    margin: 15px;
    background-color: rgba(241,253,17,0.8);
    color:rgba(241,253,17,0.8);

}


    /* Home Page Elements */

#profile {
    border-radius: 50%; 
    margin-bottom: 20px;
}


    /* Portfolio Page Elements */

h2 {
    /* font-size: 1.5rem;
    padding: 15px 0px; */
    text-align: center;
    margin-bottom: 30px;
}

.caption h2 {
    font-size: 1.2rem;
    padding: 5px;
    margin: 0px;
}

.card {
    margin: 0px 20px 30px 20px;
}

.card-img-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
}    

.caption {
    background-color: rgba(0,0,0,0.8);
    color: rgba(241,253,17);
    width: 100%;
    text-align: center;
   
}

    /* Contact Page Elements */

.contactimg a{
    font-size: 15px;
    color: black;
    padding: 10px;
}

.contactimg img {
    width: 50px;
    height: 50px;
    background-size: cover;
}

.contactimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    border-bottom: 20px solid white;
}

@media screen and (max-width: 992px) {

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    #profile {
        width: 150px;
    }

    .caption h2 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {

    .card img {
        max-block-size: 350px;
    }
    .card {
        max-width: 350px;
        padding-bottom: 10px;
    }
}