/* Main elements of the page: */

body {
    background-image: url("https://mail.google.com/mail/u/3?ui=2&ik=a3bf22e69a&attid=0.1&permmsgid=msg-a:r6782954671119473188&th=17165b42fa12e13c&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-pv7Am81BTJH9xx0PS4DHbVsphhrnz-lhK9KvX2uh0jNRKxJZ7NvwBZz783-PwFim4iOQlufZd1J4vkRIO5r8ym6O5mgZpkBUCftMSgZLLOY7genYaftE7WbM&disp=emb&realattid=ii_k8umfthp0");
    background-size: cover;
    font-family: 'Spartan', sans-serif;
    color: black;
}
.content {
    position: relative;
    min-height: 100vh;
}
.container {
    padding-bottom: 30px;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color:  rgba(0,0,0,0.8) ;
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 8px;
}

footer p {
    margin: 0px;
}

.navbar-custom {
    background-color: rgba(241,253,17,0.8);
    padding: 0px 16px;
}

.nav-item a {
    font-weight: 400;
    color: black;
}

h1 { 
    padding-top: 20px;
    font-weight: 800;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-around;
}


    /* Home Page Elements */

#profile {
    border-radius: 50%; 
    margin-bottom: 20px;
}


    /* Portfolio Page Elements */

h2 {
    font-size: 1.5rem;
}

.caption h2 {
    font-size: 1.2rem;
}

.card {
    margin: 0px 20px;
}

.card-img-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}    

.caption {
    background-color: rgba(0,0,0,0.8);
    color: rgba(241,253,17);
    width: 100%;
    text-align: center;
    padding: 8px;
}

div .col-md-4 { 
    margin-bottom: 20px;
    margin-top: 20px;
}

    /* Contact Page Elements */

.contactimg a{
    font-size: 15px;
    color: black;
    padding: 10px;
}

.contactimg img {
    width: 50px;
    height: 50px;
    background-size: cover;
}

.contactimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    border-bottom: 20px solid white;
}